body {
  background-color: black;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
p {
  color: white;
  font-family: "Source Sans 3", sans-serif;
}
.content {
  margin-top: 20px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
}
#header {
  background-image: url("../../images/title\ background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0773ed;
}
.center {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
}
.transparent {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
}
p {
  font-size: larger;
}
